:root {
    --body-bg-color: transparent;
    --border-stroke: 1px;
    --light-grey: #eee;
    --grey: #777;
    --dark-grey: #333;
    --dark-color: #fff;
    --darker-color: #54433A;
    --app-green: #00AF90;
    --app-pink: #FB8C77;
}

@font-face {
    font-family: 'MirianLibre';
    src: url('../fonts/MirianLibre-Regular.ttf') format('ttf'),
         url('../fonts/MirianLibre-Regular.woff') format('font-woff');
}
@font-face {
    font-family: 'MirianLibre-Bold';
    src: url('../fonts/MirianLibre-Bold.ttf') format('ttf'),
         url('../fonts/MirianLibre-Bold.woff') format('font-woff');
}

body, html{
    height: 100%;
    box-sizing:border-box;
    overflow: scroll;
}

body {
    display:flex; 
    flex-direction:column;
    position: relative;
}
.settings-bg {
    background-image: url(/img/pattern-25.svg);
    background-position: 100%;
    background-size: 30%;
    opacity: .1;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
}
.body-bg {
    background-image: url(/img/pattern-25.svg);
    background-position: 100%;
    background-size: 10%;
    opacity: .1;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0px;
    z-index: -2;
}
.scroll-wrapper {
    overflow: scroll;
}
.app {
    width: 640px;
    height: 100vh;
    margin: 0 auto;
    padding-bottom: 20px;
}
.on {
    background-color: var(--light-grey);
}
.ladybug {
    background-image: url(/img/ladybug.png);
    height: 50px;
    width: 50px;
    background-position: 45% 45%;
    background-size: 75% 75%;
    background-repeat: no-repeat;
    transform: rotate(20deg);
    display: inline-block;
}
.header {
    border-bottom: var(--border-stroke) solid var(--dark-color);
}

.text {
    font-family: MirianLibre;
    color: #333;
    font-weight: 300;
}
.text.grey {
    color: #777;
}
.text.dark {
    color: #222;
}
.react-calendar {
    position: absolute;
    border-radius: 5px;
    background: #fff!important;
    border: 1px solid #eee!important;
    padding: 10px;
    top: 90px;
    right: 0px;
}
.post-list {
    padding-top: 90px;
    padding-bottom: 1px;
}
.post {
    padding: 20px;
    background-color: #eee;
    margin-bottom: 20px;
    border-radius: 5px;
    position: relative;
    z-index: 1;
}
.post-bg {
    width: 100%;
    height: 100%;
    z-index: 0;
    position: absolute;
    top: 0px;
    left: 0px;
}
.post-img-bg {
    background-color: #fff;
    backdrop-filter: opacity(1);
}
.post-video-frame {
    max-height: 470px;
    overflow: hidden;
}
.post .id {
    font-size: 20px;
    font-weight: bold;
}
.post .title {
    font-size: 20px;
    color: #333;
    padding: 10px 0px;
    word-break: break-word;
    font-family: MirianLibre;
}
.post .title a {
    display: block;
    word-break: break-all;
}
.post.settings {
    position: absolute;
    width: 640px;
    z-index: 10;
    top: 90px;
    border: 1px solid #ccc;
}
.post.settings .title {
    font-weight: bold;
    padding: 0px;
}

.settings-row {
    padding: 10px 0px 0px 0px;
    margin-bottom: 5px;
}
.settings span {
    font-size: 16px;
}
.settings input[type=checkbox] {
    margin: 0px 5px 0px 0px;
    height: 25px;
    width: 25px;
    vertical-align: middle;
}
.post.settings .post-head {
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.post-head {
    position: relative;
}
.post-head .details {
    position: absolute;
    right: 0px;
    top: 0px;
}
.post-head .details span {
    margin-right: 5px;
}
.post-head .details span i {
    padding: 8px;
    background-color: #fffa;
    border-radius: 16px;
}
.post-head .details span i:hover {
    background-color: #eee;
}
.post-actions {
    z-index: 10;
    position: absolute;
    top: 20px;
    right: 20px;
}
.site-actions {
    padding-top: 20px;
    position: absolute;
    z-index: 10;
    width: 640px;
    text-align: right;
}
.site-actions ul {
    list-style: none;
    padding: 0;
}
.site-actions ul li {
    display: inline-block;
    margin-left: 10px;
}

.action {
    border-radius: 25px;
    background-color: #ccc;
    width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center;
    padding-top: 13px;
    cursor: pointer;
    transition: .2s;
}
.action i.fa-cog {
    padding-top: 1px;
    font-size: 20px;
}
.action i {
    color: #444;
    font-size: 18px;
    vertical-align: middle;
}
.action.on,
.action:hover {
    background-color: #999;
}
.action.on i,
.action:hover i {
    color: #eee;
}
.action.on:hover {
    background-color: #ccc;
}
.action.on:hover i {
    color: #444;
}

.xclose {
    font-size: 20px;
    cursor: pointer;
    vertical-align: middle;
    margin-left: 5px;
    font-weight: 500;
    transition: .2s;
}
.xclose:hover {
    color: var(--app-pink);
}

.actions i.fa-close:hover {
    cursor: pointer;
    color: #BF5846;
}
.site > td.action i.fa-close:hover {
    color: var(--app-pink);
}
.site .actions {
    float: right;
}
.site-form .group label {
    text-transform: capitalize;
}
.site-form .group {
    padding-top: 10px;
}
.site-form input, .site-form textarea {
    resize: vertical;
    height: auto;
    padding: 14px 20px;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 0px;
    color: #555;
}
.site-form input[type="checkbox"] {
    height: 30px;
    width: 30px;
}
.site-form .err-note {
    padding-left: 3px;
}
.json-struct {
    padding: 20px 25px 20px 15px;
}

.site-preview {
    width: 80%;
    margin: 0 auto;
    display: block;
    background-color: var(--light-grey);
    border-top: 2px solid var(--darker-color);
    padding: 10px 20px 10px 20px;
    border: var(--border-stroke) solid var(--darker-color);
}
.site-preview ul {
    list-style: none;
    padding-left: 0;
}
.site-preview .img-box {
    width: 400px;
    height: 200px;
    background-size: 100%;
}
.site-preview .info-box {
}

.site-form .site-preview .err-note {
    padding-left: 0;
}
.site-preview .actions {
    text-align: right;
    float: right;
}
.site-preview .info-frame {
    padding: 10px 0px 10px 0px;
}
.site-preview .info-frame > div:first-of-type {
    font-size: 1em;
    font-weight: bold;
    border-bottom: 1px solid #4C4637;
    width: min-content;
    margin-bottom: 5px;
}
.site-preview .info-frame .valid {
    background-color: var(--app-green);
    color: #fff;
    padding: .3em .5em;
    border: 1px solid  var(--app-green)!important;
}
.site-preview .info-frame .invalid {
    background-color: var(--app-pink);
    color: #fff;
    padding: .3em .5em;
    border: 1px solid  var(--app-pink)!important;
}
/* overrides */
.nav>li>a {
    padding: 0;
}
.navbar {
    margin-bottom: 0px;
    border: none;
}
.btn {
    border-radius: 0px;
}
.nav>li>a:hover, .nav>li>a:focus {
    text-decoration: none;
    background-color: unset;
}
.btn-success {
    color: #fff;
    background-color: var(--app-green);
    border-color: var(--app-green);
}
.btn-success:hover {
    background-color: var(--app-pink);
    border-color: var(--app-pink);
}
.btn-success:focus,
.btn-success.active {
    background-color: var(--app-green);
}
.form-group.has-error input {
    border-color: var(--app-pink);
}

@media (min-width: 320px) and (max-width: 399px) {
    .app {
        width: max(320px, 100%);
        padding: 10px;
    }
    .site-actions {
        width: calc(max(320px, 100%) - 20px);
        right: 10px;
    }
    .post.settings {
        width: calc(max(320px, 100%) - 20px)
    }
    .body-bg {
        background-size: 60%;
    }
    .post .title {
        font-size: 16px;
    }
    .post-head .details {
        right: -10px;
        top: 30px;
    }
    .post-head .id {
        font-size: 16px;
    }
    .post-head .text {
        padding-bottom: 40px;
        font-size: 14px;
    }
}
@media (min-width: 400px) and (max-width: 500px) {
    .app {
        width: max(400px, 100%);
        padding: 10px;
    }
    .site-actions {
        width: calc(max(400px, 100%) - 20px);
        right: 10px;
    }
    .post.settings {
        width: calc(max(400px, 100%) - 20px)
    }
    .body-bg {
        background-size: 60%;
    }
    .post .title {
        font-size: 16px;
    }
    .post-head .details {
        right: -10px;
        top: 30px;
    }
    .post-head .id {
        font-size: 16px;
    }
    .post-head .text {
        padding-bottom: 40px;
        font-size: 14px;
    }
}
@media (min-width: 768px) {}